<!DOCTYPE html>
<html>
<head>
	<title>HTML Tp PDF</title>
	<!-- Latest compiled and minified bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style>

	
		body{
			background: radial-gradient(#343434 15%, transparent 16%), linear-gradient(45deg, transparent 49%, #343434 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #343434 49% 51%, transparent 51%);
			background-size: 1em 1em;
			background-color: #000000;
			opacity: 1
		}

		.card{
			background-color: #ffffffea;
			padding: 50px 50px 50px 50px;
			margin:50px;
			border-radius:10px;
		}
	</style>
</head>

<body  >
	<div class="container" class = "caja">
		<div class="row">
			<div class="col-md"></div>

			<div class="col-md">
				<div class="card card-body">
					 <div class="text-center"> 
					<h3>Ver el pdf o descargarlo directamente</h3>
					<p> Conviertiendo html a pdf descargable.</p>
					<a class="btn btn-info" href="{% url 'pdf_view' %}" target="_blank">Ver</a>
					<a class="btn btn-info"  href="{% url 'pdf_download' %}">Descarga Directa</a>
					</div>
				</div>
			</div>

			<div class="col-md"></div>
		</div>
	</div>


</body>
</html>




